.header-animate {
    opacity: 0;
    transform: translateY(-200px);
}

.h2-animate {
    opacity: 0;
    transform: translateY(-200px);
}

.text-left-animate {
    opacity: 0;
    transform: translatex(-400px);
}

.text-right-animate {
    opacity: 0;
    transform: translatex(400px);
}

.about-text-animate {
    opacity: 0;
    transform: translatex(400px);
}

.list-animate {
    opacity: 0;
    transform: translateY(200px);
}
