.header-animate {
    opacity: 0;
    transform: translateY(-100%);
}


.text-left-animate {
    opacity: 0;
    transform: translateX(-100%);
}

.text-right-animate {
    opacity: 0;
    transform: translateX(100%);
}

.about-text-animate {
    opacity: 0;
    transform: translateX(100%);
}

.list-animate {
    opacity: 0;
    transform: translateY(100%);
}

header {
    transition: background-color 0.3s ease 0s;
}
