//........................................
.wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden !important;
    z-index: 2;

    cursor: none;
    cursor: url("../img/cursor.png"), auto !important;
}

.content {
    background: #1f1f1f;
    // .content__body

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        @media (max-width: 768px) {
            flex-direction: column;
            justify-content: flex-start;
            height: 50vh !important;
            width: 100vw !important;
        }
    }

    // .content__left

    &__left {
        // .content__left-block

        &-block {
        }

        // .content__left-img

        &-img {
        }

        // .content__left-media

        &-media {
        }

        // .content__left-info

        &-info {
            @include adaptive-value("left", 371, 10, 1);

            @media (max-width: 992px) {
                padding-left: 10px;
            }
            @media (max-width: 768px) {
                padding: 0;
            }

            .sub-name {
                transform: translate3d(0, 50px, 0);
                opacity: 0;
            }
        }
    }

    // .content__center

    &__center {
        padding: 20px;
        height: 100vh;
        background: #1f1f1f;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .content__top

    &__top {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex: 1 1 100%;
        // .content__top-logo

        &-logo {
            z-index: 0;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.4);
            opacity: 0;
            transform: translateX(-150%);
            span {
                color: #fff;
            }
        }

        // .content__top-year

        &-year {
            color: #fff;
            font-size: 11px !important;
            opacity: 0;
            transform: translateX(150%);
        }
    }

    // .content__overlay

    &__overlay {
        // .content__overlay-text

        &-text {
            position: absolute;
            transform: rotate(-18deg) translateX(-54%);
            top: 15%;
            left: 50%;
            z-index: 4;
            @include adaptive-value("font-size", 60, 30, 1);
            font-weight: 200;
            color: red;
            mix-blend-mode: color;
            opacity: 0;
            animation: blinker 1s linear infinite;
            animation-delay: 10s;
            white-space: nowrap;
        }

        @keyframes blinker {
            50% {
                opacity: 1;
            }
        }
    }

    // .content__right

    &__right {
        // .content__right-block

        &-block {
        }

        // .content__right-img

        &-img {
        }

        // .content__right-media

        &-media {
        }

        // .content__right-info

        &-info {
            @include adaptive-value("right", 371, 10, 1);
            align-items: flex-end !important;

            @media (max-width: 992px) {
                padding-right: 10px;
            }

            @media (max-width: 768px) {
                padding: 0;
            }

            h3 {
                @media (max-width: 992px) {
                    text-align: right;
                }
            }

            .sub-name {
                transform: translate3d(0, 50px, 0);
                opacity: 0;
            }

            .bar {
            }
        }
    }
}

.person {
    width: 30%;

    @media (max-width: 992px) {
        width: 50%;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    // .person__block

    &__block {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        height: 100vh;

        @media (max-width: 768px) {
            height: 50vh;
        }
        // .person__block-img

        &-img {
            z-index: 3;
            width: 100%;
            height: 100vh;
            background: url("../img/hero--right.jpg") no-repeat 50% 50%;
            // animation: animatedBackground2 5s cubic-bezier(0.19, 1, 0.22, 1);
            // animation-delay: 3.8s;
            background-size: cover;
            transform: scale(1.2);
            opacity: 0;

            @media (max-width: 768px) {
                background-position: center;
            }
        }

        // .person__block-info

        &-info {
            overflow: hidden;
            bottom: 80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            color: #a07c4a;
            position: absolute;
            z-index: 5;
            max-width: 283px;
            width: 100%;

            @media (max-width: 992px) {
                left: 50% !important;
                transform: translateX(-50%);
            }

            @media (max-width: 768px) {
                bottom: 50px;
                color: #fff;
            }

            p {
                white-space: nowrap;
                display: block;
                font-weight: 200;
                @include adaptive-value("font-size", 18, 16, 1);
                font-family: PlayfairDisplay;
            }

            .bar {
                @include adaptive-value("margin-top", 20, 10, 1);
                width: 140px;
                height: 1px;
                background: #a07c4a;
                opacity: 0.5;
                width: 0;

                @media (max-width: 768px) {
                    background: #fff;
                }
            }
        }

        // .person__block-name

        &-name {
            font-family: PlayfairDisplay;
            font-weight: 400;
            @include adaptive-value("font-size", 22, 16, 1);
            letter-spacing: 4px;
            text-transform: uppercase;
            margin-bottom: 20px;
            display: block;
            white-space: nowrap;
            .letter {
                display: inline-block;
            }
        }

        // .person__block-media

        &-media {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            @include adaptive-value("padding-bottom", 20, 5, 1);
            width: 100%;

            ol {
                display: flex;
                align-items: center;
                justify-content: center;

                & > :not(:last-child) {
                    margin-right: 16px;
                }

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 40px;
                    position: relative;
                    z-index: 4;
                    color: #a07c4a;
                    font-size: 20px;
                    transition: color 0.3s ease 0s;
                    transform: translate3d(0, 50px, 0) scale(0.5);

                    @media (any-hover: hover) {
                        &:hover {
                            transform: translate3d(0, 0, 0) scale(1) !important;
                            color: #a07c4a;
                        }
                    }

                    @media (max-width: 768px) {
                        color: #fff;
                    }
                }
            }
        }
    }

    //    ._about-image-animation {
    // @keyframes animatedBackground2 {
    //     from {
    //         background-size: 280%;
    //     }
    //     to {
    //         background-size: 120%;
    //     }
    // }
    // }
}
