// null default styles
@import "null";

// load fonts
@import "fonts";

// load mixins
@import "mixins";

// load common
@import "common";

// load menu
@import "menu";

// load advantages
@import "advantages";

body {
    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #7a7a7a;
    }

    &::-webkit-scrollbar-thumb {
        background: #262523;
        border-radius: 10px;
        height: 150px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #3a0c0c;
    }
}

h2 {
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -1px;
    color: #a07c4a;
    @include adaptive-value("padding-top", 104, 50, 1);
    @include adaptive-value("margin-bottom", 150, 50, 1);
    @include adaptive-value("font-size", 128, 50, 1);
    font-family: PlayfairDisplay;

    span {
        font-family: PlayfairDisplay;
        display: block;
        height: 1em;
        overflow: hidden;

        i {
            display: block;
            font-style: normal;
            transform: translate3d(0, 100%, 0);
            transition: all 0.9s ease 0s;
        }
    }

    @media (max-width: 768px) {
        font-weight: 700;
    }
}

.small-title {
    display: block;
    padding-top: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: #112c43;
    font-family: IBMPlexSans;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;

    // .header__container

    &__container {
    }

    // .header__body

    &__body {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        padding-top: 15px;

        svg {
            @include adaptive-value("height", 98, 85, 1);

            fill: #1f1f1f;
        }
    }

    // .header__menu

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        color: #1f1f1f;
        border-radius: 0px 0px 0px 5px;

        @include adaptive-value("padding-top", 25, 15, 1);
        @include adaptive-value("padding-bottom", 25, 15, 1);
        @include adaptive-value("padding-left", 30, 20, 1);
        @include adaptive-value("padding-right", 30, 20, 1);
        @include adaptive-value("height", 60, 40, 1);

        @media (min-width: 426px) {
            @include adaptive-value("width", 250, 180, 1);
        }

        @media (max-width: 425px) {
            justify-content: center;
            width: 40%;
        }

        label {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 20, 18, 1);
            line-height: 120%;
            color: #1f1f1f;
            font-family: PlayfairDisplay;

            @media (max-width: 425px) {
                display: none;
            }
        }

        // .header__menu-line

        &-line {
            transition: all 1s ease 0s;

            @media (max-width: 425px) {
                position: relative;
                left: 5px;
            }

            & > :not(:last-child) {
                margin-bottom: 5px;
            }

            & > :last-child {
                right: 25px;
            }

            span {
                display: block;
                position: relative;
                height: 1px;
                @include adaptive-value("width", 50, 40, 1);
                background-color: #1f1f1f;
            }
        }
    }
}

.home {
    background: #f6eee3;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #f6eee3;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    // .home__container

    &__container {
    }

    // .home__body

    &__body {
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
        padding-bottom: 20px;
    }

    // .home__content

    &__content {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;

        // .home__content-left

        h1 {
            flex: 1 1 100%;
            @include adaptive-value("font-size", 70, 27, 1);
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
            letter-spacing: -2.2px;
            color: #a07c4a;
            text-transform: uppercase;
            word-spacing: 5px;
            font-family: PlayfairDisplay;

            span {
                font-family: PlayfairDisplay;
                display: block;
                height: 1em;
                overflow: hidden;

                i {
                    display: block;
                    font-style: normal;
                    transform: translate3d(0, 100%, 0);
                    transition: all 0.9s ease 0s;
                }
            }

            @media (max-width: 768px) {
                font-weight: 700;
            }
        }

        // .home__content-bottom

        &-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                align-items: flex-start;
            }

            p {
                @include adaptive-value("width", 380, 270, 1);
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 16, 12, 1);
                @include adaptive-value("line-height", 20, 18, 1);
                color: #a07c4a;
                @include adaptive-value("margin-right", 40, 20, 1);

                span {
                    color: #f6eee3;
                }

                @media (max-width: 768px) {
                    margin-right: 0;
                }
            }

            span {
                font-family: PlayfairDisplay;
                white-space: nowrap;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 40, 16, 1);
                line-height: 48px;
                color: #a07c4a;
            }
        }
    }

    // .home__email

    &__email {
        // .home__email-horizontal
        color: #112c43;

        &-horizontal {
            cursor: pointer;
            transform: rotate(90deg) translateX(400px);
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;

            span {
                font-style: normal;
                font-weight: 500;
                @include adaptive-value("font-size", 14, 12, 1);
                line-height: 17px;
                text-align: center;
                text-transform: lowercase;
                color: #141519;
                letter-spacing: 1.5px;

                @media (max-width: 425px) {
                    letter-spacing: normal;
                }
            }
        }
    }
}

.about {
    background: #f6eee3;

    // .about__container

    &__container {
    }

    // .about__body

    &__body {
    }

    // .about__text

    &__text {
        div {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            max-width: 750px;
            width: 100%;
            margin-left: auto;
            margin-bottom: 50px;

            img {
                width: 100%;
            }
        }

        p {
            display: block;

            font-style: normal;
            font-weight: 700;
            @include adaptive-value("font-size", 18, 14, 1);
            line-height: 120%;
            display: flex;
            align-items: center;
            color: #a07c4a;
            margin-bottom: 25px;
        }
    }
}

.steps {
    background-color: #a07c4a;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #a07c4a;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    // .steps__container

    &__container {
    }

    // .steps__body

    &__body {
        .small-title {
            color: #f6eee3;
        }
    }

    // .steps__grid

    &__grid {
        @include adaptive-value("padding-top", 150, 50, 1);

        ol {
            & > :last-child {
                border-bottom: 1px solid #f6eee3;
            }

            li {
                @media (max-width: 768px) {
                    flex-direction: column;
                }

                border-top: 1px solid #f6eee3;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                padding: 30px 0;

                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 120%;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    color: #ffffff;
                }

                label {
                    font-style: normal;
                    font-weight: 500;
                    @include adaptive-value("font-size", 70, 45, 1);
                    text-transform: capitalize;
                    color: #f6eee3;
                    display: flex;
                    align-items: flex-start;
                    justify-content: start;
                    max-width: 510px;
                    width: 100%;
                    padding: 0 10px;

                    @media (max-width: 768px) {
                        margin-bottom: 25px;
                        padding: 0;
                        @include adaptive-value("font-size", 57, 45, 1);
                    }
                }

                p {
                    max-width: 625px;
                    width: 100%;
                    font-style: normal;
                    font-weight: 500;
                    @include adaptive-value("font-size", 18, 16, 1);
                    line-height: 120%;
                    color: #f6eee3;
                }
            }
            span {
                font-family: Geo;
            }
        }
    }
}

.works {
    position: relative;
    max-width: 100vw;
    overflow: hidden;

    // .works__container

    &__container {
    }

    // .works__body

    &__body {
        .small-title {
            position: absolute;
            top: 0;
        }
    }

    // .works__content

    &__content {
        &-slider {
            overflow: hidden;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        // .works__content-slider-mobile

        .cardList {
            // .cardList__mobile

            &__mobile {
                width: 100%;
                // .cardList__mobile-btn

                &-btn {
                    svg {
                        width: 40px;
                        height: 40px;
                    }
                }

                // .cardList__mobile-wrapper

                &-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                }

                // .card__mobile-controll

                &-controll {
                    margin-top: 10px;
                    width: 50%;
                    margin-inline: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }

        .card {
            // .card__mobile

            &__mobile {
                // .card__mobile-image

                &-image {
                    position: relative;
                    width: 220px;
                    height: 250px;

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                    }
                }

                // .card__mobile-info

                &-info {
                    position: relative;
                    top: -30px;
                    font-style: normal;
                    font-size: 18px;
                    line-height: 120%;
                    color: #112c43;

                    h4 {
                        text-transform: uppercase;
                        font-weight: 700;
                        font-size: 25px;
                    }

                    span {
                        font-size: 20px;
                        font-weight: 500;
                    }

                    p {
                    }
                }
            }
        }
    }
}

.advantages {
    background-color: #f6eee3;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #f6eee3;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    // .advantages__container

    &__container {
    }

    // .advantages__body

    &__body {
    }

    // .advantages__content

    &__content {
        @include adaptive-value("padding-top", 150, 50, 1);

        .circle {
            height: 300px;
            animation: run 10s infinite linear both;

            &-parent {
                border-radius: 50%;
                overflow: hidden;
            }

            @media (max-width: 768px) {
                max-height: 250px;
                height: 100%;
            }
        }

        // .advantages__content-top

        &-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
            @include adaptive-value("padding-top", 70, 20, 1);
            @include adaptive-value("padding-bottom", 200, 50, 1);

            @media (max-width: 992px) {
                flex-direction: column;
            }

            p {
                span {
                    color: #f6eee3;
                }

                @include adaptive-value("padding-left", 15, 5, 1);
                @include adaptive-value("padding-right", 15, 5, 1);

                max-width: 60%;
                width: 100%;
                font-family: PlayfairDisplay;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 30, 16, 1);
                line-height: 180%;
                color: #a07c4a;
            }
        }

        // .advantages__content-bottom

        &-bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            @media (max-width: 992px) {
                flex-direction: column;
            }
        }

        &-text {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;

            @media (max-width: 768px) {
                width: 100%;
                justify-content: space-around;
            }

            @media (max-width: 425px) {
                justify-content: space-between;
            }

            @media (any-hover: hover) {
                &:hover {
                    img {
                        transform: rotate(-90deg);
                    }
                }
            }

            .link-btn {
                span {
                    font-style: normal;
                    font-family: PlayfairDisplay;
                    font-weight: 400;
                    @include adaptive-value("font-size", 20, 14, 1);
                    line-height: 30px;
                    white-space: nowrap;
                    padding-bottom: 5px;
                    overflow: hidden;
                    background: linear-gradient(to right, #304e67, #304e67 50%, #a07c4a 50%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-size: 200% 100%;
                    background-position: 100%;
                    transition: background-position 275ms ease;
                    text-decoration: none;

                    @media (max-width: 768px) {
                        font-weight: 900;
                        font-size: 20px;
                    }
                }

                label {
                    display: block;
                    height: 1px;
                    background-color: #a07c4a;
                    max-width: 400px;
                    min-width: 250px;
                    width: 100%;
                    transition: background-position 275ms ease;

                    @media (max-width: 768px) {
                        max-width: 100%;
                        min-width: 100%;
                        width: 100%;
                    }

                    @media (max-width: 425px) {
                        display: none;
                    }
                }

                @media (any-hover: hover) {
                    &:hover {
                        span {
                            background-position: 0 100%;
                        }
                        label {
                            background-color: #304e67;
                        }
                    }
                }
            }
        }
    }
}

.prices {
    background-color: #a07c4a;
    position: relative;

    &:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #a07c4a;
        width: 100vw;
        height: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: -1;
    }

    // .prices__container

    &__container {
    }

    // .prices__body

    &__body {
        .small-title {
            color: #f6eee3;
        }
    }

    // .prices__content

    &__content {
        @include adaptive-value("padding-top", 113, 50, 1);

        // .prices__content-top

        &-top {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            p {
                span {
                    color: #a07c4a;
                }

                @include adaptive-value("padding-top", 100, 50, 1);
                @include adaptive-value("padding-bottom", 200, 50, 1);
                @include adaptive-value("padding-left", 15, 5, 1);
                @include adaptive-value("padding-right", 15, 5, 1);

                max-width: 55%;
                width: 100%;
                font-family: PlayfairDisplay;
                font-style: normal;
                font-weight: 400;
                @include adaptive-value("font-size", 25, 16, 1);
                line-height: 180%;
                color: #f6eee3;
            }
        }

        // .prices__content-bottom

        &-bottom {
            .steps {
                // .steps__grid

                &__grid {
                    padding-top: 70px;

                    ol {
                        @media (max-width: 768px) {
                            flex-direction: column;
                        }

                        li {
                            min-height: 147px;
                            height: 100%;
                            position: relative;
                            transition: all 0.5s ease 0ms;

                            &:after {
                                position: absolute;
                                content: "";
                                left: -15px;
                                top: 1px;
                                width: calc(100% + 30px);
                                height: calc(100% + 2px);
                                z-index: 0;
                                transition: all 0.5s ease 0s;

                                @media (max-width:768px){
                                    left: 0;
                                    width: 100%;
                                }
                            }

                            &:before {
                            }

                            @media (any-hover: hover) {
                                &:hover {
                                    border: unset;

                                    &:after {
                                        background-color: #f6eee3;
                                    }

                                    label {
                                        visibility: hidden;
                                        opacity: 0;
                                        z-index: -1;
                                        position: absolute;
                                        color: #304e67;
                                    }

                                    span {
                                        position: relative;
                                        z-index: 1;
                                        top: -10px;
                                        opacity: 1;
                                        visibility: visible;
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 62px;
                                        line-height: 120%;
                                        white-space: nowrap;
                                        color: #304e67;
                                        width: fit-content;
                                    }

                                    p {
                                        font-weight: 700;
                                        color: #304e67;
                                    }
                                }
                            }

                            span {
                                transition: all 0.5s ease 0.5ms;
                                opacity: 0;
                                visibility: hidden;
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 0;
                            }

                            label {
                                transition: all 0.3s ease 0ms;
                                font-style: normal;
                                font-weight: 500;
                                @include adaptive-value("font-size", 50, 28, 1);
                                line-height: 120%;
                                color: #f6eee3;
                                white-space: nowrap;

                                @media (max-width: 1385px) {
                                    white-space: pre-wrap;
                                }

                                @media (max-width: 768px) {
                                    margin-bottom: 0;
                                    font-size: 35px;
                                }
                            }

                            p {
                                position: relative;
                                z-index: 1;
                                font-style: normal;
                                font-weight: 400;
                                @include adaptive-value("font-size", 18, 16, 1);
                                line-height: 120%;
                                display: flex;
                                align-items: center;
                                color: #f6eee3;
                                max-width: 690px;
                                width: 100%;
                                margin-left: 80px;

                                @media (max-width: 768px) {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        // .prices__content-conclusion

        &-conclusion {
            @include adaptive-value("padding-top", 100, 50, 1);
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            @media (max-width: 768px) {
                flex-direction: column;
            }

            p {
                span {
                    color: #a07c4a;
                }

                max-width: 590px;
                width: 100%;
                font-style: normal;
                font-weight: 300;
                @include adaptive-value("font-size", 22, 18, 1);
                line-height: 120%;
                color: #f6eee3;
                margin-right: 40px;

                @media (max-width: 768px) {
                    margin-right: 0px;
                }
            }

            .link-btn {
                span {
                    color: #f6eee3;
                }

                label {
                    background-color: #f6eee3;
                }
            }
        }
    }
}

.ticker {
    background: #f6eee3;

    @include adaptive-value("padding-bottom", 100, 50, 1);
    height: fit-content !important;
    min-height: fit-content !important;
    // .ticker__container

    &__container {
    }

    // .ticker__body

    &__body {
        overflow: hidden;
        max-width: 100vw;
    }

    // .ticker__content

    &__content {
        @include adaptive-value("padding-top", 50, 25, 1);
        display: flex;
        align-items: center;
        justify-content: flex-start;

        & > :not(:last-child) {
            margin-right: 50px;
        }

        p {
            white-space: nowrap;
            font-style: normal;
            font-weight: 900;
            @include adaptive-value("font-size", 200, 150, 1);
            text-align: center;
            text-transform: capitalize !important;
            color: #112c43;
            animation: ticker 10s infinite linear;

            @keyframes ticker {
                0% {
                    transform: translate(0, 0);
                }
                50% {
                    transform: translate(-50%, 0);
                }
                100% {
                    transform: translate(-100%, 0);
                }
            }
        }
    }
}

.footer {
    background: #f6eee3;
    color: #a07c4a;
    .contacts {
        padding-bottom: 20px;

        // .contacts__container

        &__container {
        }

        // .contacts__body

        &__body {
        }

        // .contacts__flex

        &__flex {
            @include adaptive-value("padding-top", 100, 50, 1);

            // .contacts__flex-top

            &-top {
                @include adaptive-value("margin-bottom", 100, 50, 1);

                h2 {
                    margin: 0;
                    padding: 0;
                    font-style: normal;
                    font-weight: 900;
                    @include adaptive-value("font-size", 70, 24, 1);
                    text-transform: uppercase;
                    color: #a07c4a;
                    white-space: nowrap;

                    @media (max-width: 768px) {
                        white-space: unset;
                    }
                }
            }

            // .contacts__flex-middle

            &-middle {
                @media (max-width: 1024px) {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                    .contacts__socialmedia {
                        display: block !important;
                        margin-left: 0;
                    }
                }

                @media (max-width: 425px) {
                    flex-direction: column;
                    align-items: flex-start;

                    div {
                        width: 100%;
                    }
                    .contacts__socialmedia {
                        display: flex !important;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 25px;
                        margin-left: 0;
                        width: 100%;
                        li {
                            margin-bottom: 0;

                            a {
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                color: #a07c4a;
                                text-transform: uppercase;
                                font-size: 16px;
                                white-space: nowrap;
                            }
                        }
                    }
                }
            }

            // .contacts__flex-subtitle

            &-subtitle {
                max-width: 362px;
                width: 100%;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #112c43;
            }

            // .contacts__flex-title

            &-title {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div {
                    display: flex;
                    align-items: center;
                }
            }

            // .contacts__flex-bottom

            &-bottom {
            }
        }
    }

    .form {
        // .form__item

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #a07c4a;
            padding-bottom: 5px;
            margin-bottom: 30px;

            label {
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                text-transform: uppercase;
                color: #a07c4a;
                width: 150px;
                @include adaptive-value("margin-right", 30, 15, 1);
                @include adaptive-value("font-size", 20, 14, 1);
                white-space: nowrap;

                @media (max-width: 425px) {
                    display: none;
                }
            }

            span {
                font-style: normal;
                font-weight: 500;
                line-height: 24px;
                color: #a07c4a;
                text-transform: uppercase;
                @include adaptive-value("font-size", 16, 14, 1);
                white-space: nowrap;

                @media (max-width: 768px) {
                    display: none;
                }
            }

            input {
                margin: 0 auto;
                text-align: start;
                max-width: 900px;
                width: 100%;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                text-transform: uppercase;
                color: #a07c4a;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
                @include adaptive-value("font-size", 20, 13, 1);
                white-space: nowrap;

                @media (max-width: 768px) {
                    text-align: right;
                    ::placeholder {
                        display: none;
                    }
                }

                @media (max-width: 425px) {
                    text-align: left;
                    font-weight: 500;
                }
            }
        }
    }

    .send {
        @include adaptive-value("margin-top", 120, 60, 1);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        $speed: 0.5s;

        .btn-flip {
            position: relative;

            @media (max-width: 425px) {
                max-width: 100%;
                min: 100%;
                width: 100%;
            }

            &:after,
            &:before {
                font-family: Geo;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                @include adaptive-value("font-size", 100, 16, 1);
                top: 0;
                left: 0;
                transition: $speed;
                @include adaptive-value("padding-left", 30, 15, 1);
                @include adaptive-value("padding-right", 30, 15, 1);
                @include adaptive-value("padding-top", 20, 10, 1);
                @include adaptive-value("padding-bottom", 40, 5, 1);
                line-height: 40px;
                white-space: nowrap;
                display: block;
                color: #a07c4a;
                border-bottom: 1px solid #a07c4a;
            }

            &:after {
                position: absolute;
                opacity: 0;
                color: #141519;
                content: attr(data-back);
                transform: translateY(-50%) rotateX(90deg);
            }

            &:before {
                position: relative;
                opacity: 1;
                content: attr(data-front);
                transform: translateY(0) rotateX(0);
            }

            &._send-ok {
                &:after {
                    opacity: 1;
                    transform: translateY(0) rotateX(0);
                }

                &:before {
                    opacity: 0;
                    transform: translateY(50%) rotateX(90deg);
                }
            }
        }
    }

    // .footer__bottom

    &__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("margin-top", 170, 70, 1);

        @media (max-width: 550px) {
            flex-direction: column;
        }

        span {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: 120%;
            color: #a07c4a;

            @media (max-width: 550px) {
                margin-bottom: 15px;
            }
        }

        a {
            font-style: normal;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 16, 1);
            line-height: 120%;
            text-align: right;
            color: #a07c4a;
        }
    }
}

// load animation
@import "animation";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

:root {
    --card-width: 200px;
    --card-height: 300px;

    --card-transition-duration: 800ms;
    --card-transition-easing: ease;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    &:focus {
        outline: none;
        border: none;
    }
}

.slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -5;
        pointer-events: none;
        user-select: none;
        overflow: hidden;

        &__image {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100vw;
            left: 50%;
            transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
            transition: transform 1000ms ease, opacity 1000ms ease;
            overflow: hidden;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &.current--image {
                opacity: 1;
                --image-translate-offset: 0;
            }

            &.previous--image,
            &.next--image {
                opacity: 0;
            }

            &.previous--image {
                --image-translate-offset: -25%;
            }
            
            &.next--image {
                --image-translate-offset: 25%;
            }
        }
    }
}

.cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;

    &__btn {
        width: 35px;
        height: 35px;
        z-index: 100;

        &-controll {
            width: 100%;
            max-width: 900px;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media (max-width: 500px) {
                max-width: 240px;
                align-self: flex-end;
                margin-bottom: 5vh;
            }
        }

        &.btn--left {
        }
        &.btn--right {
        }

        @media (max-width: 768px) {
        }

        svg {
            width: 100%;
            height: 100%;
            pointer-events: none;
        }
    }

    .cards__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        perspective: 1000px;
    }
}

.card {
    --card-translateY-offset: 100vh;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset))
        rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background: #000;
        z-index: 1;
        transition: opacity var(--card-transition-duration) var(--card-transition-easing);
        opacity: calc(1 - var(--opacity));
    }

    &__image {
        position: relative;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &.current--card {
        --current-card-rotation-offset: 0;
        --card-translateX-offset: 0;
        --card-rotation-offset: var(--current-card-rotation-offset);
        --card-scale-offset: 1.2;
        --opacity: 0.8;
    }

    &.previous--card {
        --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
        --card-rotation-offset: 25deg;
    }

    &.next--card {
        --card-translateX-offset: calc(var(--card-width) * 1.1);
        --card-rotation-offset: -25deg;
    }

    &.previous--card,
    &.next--card {
        --card-scale-offset: 0.9;
        --opacity: 0.4;
    }
}

.infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;

    @media (max-width:768px){
        max-width: 100%;
    }

    .info__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
}

.info {
    margin-bottom: calc(var(--card-height) / 8);
    margin-left: calc(var(--card-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);

    @media (max-width:768px){
        margin-left: 20px;
    }

    .text {
        position: relative;
        font-family: "Montserrat";
        font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
        white-space: nowrap;
        color: #fff;
        width: fit-content;
    }

    .name,
    .location {
        text-transform: uppercase;
    }

    .location {
        font-weight: 800;
    }

    .location {
        --mg-left: 40px;
        --text-size-offset: 0.12;
        font-weight: 600;
        margin-left: var(--mg-left);
        margin-bottom: calc(var(--mg-left) / 2);
        padding-bottom: 0.8rem;
        &::before,
        &::after {
            content: "";
            position: absolute;
            background: #fff;
            left: 0%;
            transform: translate(calc(-1 * var(--mg-left)), -50%);
        }
        &::before {
            top: 50%;
            width: 20px;
            height: 5px;
        }
        &::after {
            bottom: 0;
            width: 60px;
            height: 2px;
        }
    }

    .description {
        --text-size-offset: 0.065;
        font-weight: 500;
    }

    &.current--info {
        opacity: 1;
        display: block;
    }
    &.previous--info,
    &.next--info {
        opacity: 0;
        display: none;
    }
}

.loading__wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    z-index: 200;
    .loader--text {
        color: #fff;
        font-family: "Montserrat";
        font-weight: 500;
        margin-bottom: 1.4rem;
    }
    .loader {
        position: relative;
        width: 200px;
        height: 2px;
        background: rgba(255, 255, 255, 0.25);
        span {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 0, 0);
            transform: scaleX(0);
            transform-origin: left;
        }
    }
}

@media only screen and (min-width: 800px) {
    :root {
        --card-width: 250px;
        --card-height: 400px;
    }
}
